body {
    min-width: 1280px;
    font-family: Raleway, sans-serif;
    font-variant-numeric: lining-nums;
    font-size: 20px;
    margin: 0;
    overflow: auto;
    background: #fff9c7;
}

.case {
    max-width: 1120px;
    padding: 0 32px;
    margin: 0 auto;
    color: #222;
    background: #fff9c7;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


.header-menu {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-logo {
    width: 64px;
    height: 64px;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-menu-item:hover {
    color: #81ceeb;
}

.important {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.important__container--info {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.info-heading {
    font-size: 24px;
    padding-bottom: 14px;
    text-decoration: none;

}

.info-text {
    text-indent: 20px;
    line-height: 1.6;
}

.important__container--img {
    width: 500px;
    height: 500px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.info-link {
    padding: 14px;
    margin-top: auto;
    background: #81ceeb;
    color: #222222;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-align: center;
    width: 350px;
}

.hero, .product, .form {
    padding-top: 32px;
}

.info-heading--center {
    text-align: center;
}

.product-items {
    padding-top: 32px;
    display: grid;
    gap: 32px;
    grid-template:repeat(auto-fit, minmax(300px, 1fr))/repeat(auto-fit, minmax(300px, 1fr));
}

.product-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background: #fff9c7;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.form-cover{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 450px;
    margin: 0 auto;
}

.info-link--center{
    width: 450px;
    margin: 0 auto;
}

.footer{
    padding: 32px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.contacts-cover{
    display: flex;
    gap: 16px;
    align-items: center;
}

.contacts-heading{
    font-size: 22px;
}
